<%= turbo_stream.append "messages" do %>
  <div class="flex justify-end w-full">
    <div class="bg-gray-100 p-2 rounded-md max-w-[70%]">
      <p class="text-sm text-gray-700"><%= @message.context %></p>
      <small class="text-xs text-gray-500">You at <%= @message.created_at.strftime("%H:%M") %></small>
    </div>
  </div>
<% end %>

<%= turbo_stream.update "new_message" do %>
  <%= render 'messages/form', chat: @chat, message: Message.new, message_disabled: true %>
<% end %>

<%= turbo_stream.update "bot_response_placeholder" do %>
  <div class="flex justify-start w-full">
    <div class="bg-green-500 text-white p-2 rounded-md max-w-[70%] animate-pulse">
      <p class="text-sm">Generating response...</p>
    </div>
  </div>
<% end %>
