<!DOCTYPE html>
<html class="h-full bg-black">
  <head>
    <title><%= content_for(:title) || "BusinessBuddy" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full">
    <%= render 'layouts/navigation' %>
    <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-6">
      <%= yield %>
    </main>
  </body>
</html>
